

<div class="show-holder">
    <!--<app-tv-show *ngFor="let show of futureArray | orderByDate: 'schedule'" [show]="show"></app-tv-show>
    <app-tv-show *ngFor="let show of nullArray | orderByDate: 'schedule'" [show]="show"></app-tv-show>
    <app-tv-show *ngFor="let show of pastArray | orderByDate: 'schedule'" [show]="show"></app-tv-show>-->
    <app-tv-show *ngFor="let show of allShows | orderByDate: 'schedule'" [show]="show"></app-tv-show>
</div>

<button (click)="onclick()">click</button>