<img src="{{ tvShow.image.medium }}" />
<div>
<h2>{{ tvShow.name }}</h2>
<!--<span class="date">{{ show.release | amUtc | amDateFormat: 'Do MMMM YYYY' }}</span>-->

<p>
    <span *ngIf="(tvSchedule.premiereDate | amDifference: today :'weeks' : false) > 0">
        Season {{ tvSchedule.number }}<br/>
        <strong *ngIf="(tvSchedule.premiereDate | amDifference: today :'days' : false) > 10">{{ tvSchedule.premiereDate | amDifference: today :'weeks' : false}} weeks until release</strong>
        <strong *ngIf="(tvSchedule.premiereDate | amDifference: today :'days' : false) <= 10">{{ tvSchedule.premiereDate | amDifference: today :'days' : false}} days until release</strong>
        <small>Release date: {{ tvSchedule.premiereDate | date}}</small>
    </span>

    <span *ngIf="(tvSchedule.premiereDate | amDifference: today :'weeks' : false) < 0">
        Season {{ tvSchedule.number }}<br/>
        <strong>Released: {{ tvSchedule.premiereDate | date }}</strong>
    </span>

    <span *ngIf="tvSchedule.premiereDate == undefined">
        Season {{ tvSchedule.number }}<br/>
        <strong>No release date confirmed</strong>
    </span>
</p>

</div>
