/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto Slab', serif;
    background: #f0f0f0;
    padding: 20px;
    margin: 0;
}

.show-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 840px;
    margin: auto;
}
app-tv-show {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
    background: #f9f9f9;
    padding: 0;
    position: relative;
    height: 200px;
    display: flex;
}
app-tv-show div {
    padding: 20px;
}
app-tv-show img {
    margin: 0;
    max-height: 100%;
    float: left;
}

@media only screen and (max-width: 800px){
    app-tv-show {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
}

h2, h3 {
    margin: 0;
}

h2 {
    font-size: 20px;
    line-height: 1.3;
}

h3 {
    margin-top: 5px;
    line-height: 32px;
    font-size: 18px;
    font-weight: 300;
}

p {
    font-size: 18px;
}

span.confirmed {
    display: inline-block;
    background: #ddd;
    padding: 0 15px;
    color: #454545;
    margin: 0;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    float: right;
}